@font-face {font-family: "PierBlack"; src: url(font/PierSans/PierSans-Black.otf) format("opentype");}
@font-face {font-family: "PierBlackItalic"; src: url(font/PierSans/PierSans-BlackItalic.otf) format("opentype");}
@font-face {font-family: "PierBold"; src: url(font/PierSans/PierSans-Bold.otf) format("opentype");}
@font-face {font-family: "PierBoldItalic"; src: url(font/PierSans/PierSans-BoldItalic.otf) format("opentype");}

#nosotros{
	height: 700px;
	padding: 50px 0px;
	background-color: #292929;
	background-image: url('../../img/patron.png');
}

#nosotros h1{
	font-family: "PierBlackItalic";
	color: white;
	transform: rotate(-5deg);
	position: relative;
	text-transform: uppercase;
}

#nosotros h1 span{
	background-image: url('../../img/pintura2.png');
	width: 100%;
	height: 150px;
	z-index: -1;
	position: absolute;
	transform: scale(.8);
	left: -150px;
	top: -45px;
	background-repeat: no-repeat;
}

#nosotros .cont-caras{
	margin-top: 150px;
	color: white;
	transform: scale(.9);
	padding-top: 20px;
}

#nosotros .cont-img{
	position: relative;
	width: 100%;
	height: 100px;
}

#nosotros .cont-img .apodo{
	position: absolute;
	font-size: 90px;
	font-family: "PierBlack";
	color: #504D4B;
	z-index: -1;
	top: -80px;
	left: 160px;
	text-transform: uppercase;
}

#nosotros .gaston .cont-img .apodo{
	left: 80px;
}

#nosotros .cont-img img{
	position: absolute;
	transition: all 0.11s ease 0s;
}

#nosotros .cont-img .blur{
	filter: blur(5px);
}

#nosotros .cont-img:hover .blur{
	filter: blur(0px);
}

#nosotros .cont-img .color{
	opacity: 0;
}

#nosotros .cont-img:hover .color{
	opacity: 1;
}

#nosotros .gaston .cont-img img{
	left: 150px;
} 

#nosotros .gaston .cont-img .alas{
	position: absolute;
	transform: scale(.7);
	left: -160px;
	top: -80px;
	opacity: 0;
	transition: all 0.1s ease 0s;
}

#nosotros .gaston .cont-img:hover .alas{
	opacity: 1;
	animation-name: alas;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes alas {
    0%{margin-top: 20px;}
    50%{margin-top: 0px;}
    100%{margin-top: 20px;}
}

#nosotros .joni .cont-img img{
	right: 150px;
} 

#nosotros .joni .cont-img .parche{
	position: absolute;
	transform: scale(.27);
	top: -5px;
	right: -145px;
	opacity: 0;
	transition: all 0.1s ease 0s;
}

#nosotros .joni .cont-img:hover .parche{
	opacity: 1;
}

#nosotros .joni .cont-img .pirata{
	position: absolute;
	height: 130px;
	top: -50px;
	right: 140px;
	opacity: 0;
	transition: all 0.1s ease 0s;
}

#nosotros .joni .cont-img:hover .pirata{
	opacity: 1;
	animation-name: pirata;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes pirata {
    0%{transform: rotate(5deg);}
    50%{transform: rotate(0deg);}
    100%{transform: rotate(5deg);}
}

#nosotros img{
	height: 350px;
}

#nosotros .cont-info{
	position: absolute;
	bottom: -230px;
	transition: all 0.1s ease 0s;
}

#nosotros .gaston .cont-info{
	left: 80px;
}

#nosotros .joni .cont-info{
	right: 100px;
}

#nosotros .cont-caras .cont-info .nombre{
	font-family: "PierBold";
	font-size: 30px;
	line-height: 30px;
}

#nosotros .cont-caras .cont-info .profesion{
	font-family: "AleoLight";
	font-size: 20px;
	color: #a59385;
}

#nosotros .cont-img:hover .apodo{
	filter: blur(4px);
}

#nosotros .cont-img:hover + .cont-info{
	filter: blur(3px);
}

#nosotros .cont-img:hover + .cont-info .profesion{
	filter: grayscale(1);
}


